*{
    margin: 0px;
    padding: 0px;
}
.sam{
    height: 100vh;
    width: 100%;
    background-size:cover ;
    background-origin: border-box;
    border: 4px solid brown;
    background-image: url(/image/rao.jpg);
    background-image: cover;

  

}
.header{
    height: 250px;
    width: 1515px;
    float: left;
    

}
.logo{
    height: 300px;
    width: 280px;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    background-size: cover;
    float: left;
}
.sai{
    height: 150px;
    width: 280px;
    float: left;
    position: relative;
    left: 155px;
}
.bg{
    float: left;
    position: relative;
    top: 100px;
    left: -26px;
}
.sp{
    height: 450px;
    width: 350px;
    margin-left: 767px;
    float: left ;
    position: relative;
    left: 400px;
    bottom: 90px;
}
.tunnel{
    margin-left: -980px;
    margin-top: 200px;
    width: 170px;
}
button{
    display: block;
    background: transparent;
    margin-top: 300px;
    margin-right: 200px;
    font-size: 505px;
}
.social{
    height: 100px;
    width: 200px;
    float: left;
    display: block; 

}
 ul li{
    height: 20px;
    width: 190px;
    color:white;
    float: left;
    display: block;
    font-size: 25px;
    text-align: center;
    position: relative;
    left:150px;
    line-height: 40px;
    margin: 15px;
    background-color:red;
    padding-bottom: 15px;
    margin-top: 30px;
    border-radius: 16px;
}
ul li a{
    text-decoration:none ;
}
ul li :hover{
    color: azure;
}
h1{
    height: 110px;
    float: left;
    color: white;
    font-size: 90px;
    padding-left: 180px;
    position: relative;
    bottom: 10px;
        
}
h1::first-letter{
    font-size: 200px;
}
h2{
    height: 110px;
    float: left;
    color: white;
    font-size: 90px;
    padding-left: 60px; 
    position: relative;
    top: 150px; 
    left: -250px;  
}
h2::first-letter{
    font-size: 100px;
    
}
h3{
    height: 100px;
    width: 750px;
    color:chocolate;
    font-size: 60px;
    padding-left: 410px; 
    position: relative;
    top: 430px; 
    display: block;
    text-align: center;     
}
.button{
    height: 50px;
    width: 110px;
    color: greenyellow;
    font-size: 20px;
    position: relative;
    left: 582px;
    bottom: 320px;
    border-radius: -20px;
    background-color: chocolate;
    
}
ul li >ul li{
    color: black;
    left: -8px;
    margin: 0.5px;
    display: none;
    position: relative;
    left: 02px;

}
ul li:hover>ul li{
    background-color: red;
    display: block;
    color: black;
}